body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

}

.Card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1px;
    background: whitesmoke;
    box-shadow: 2px 2px grey;
    width: 450px;
    height: 250px;
}

label {
    display: flex;
    justify-content: center;
}

.CardInner {
    font-family: monospace;
    font-size: 16px;
}

.InputContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    padding: 8px;
    margin-left: 12px;
    box-shadow: 1px 1px gray;
    width: 300px;
}

.search {
    
}